.navbar {
  background: #000;
  height: 8rem;
  margin-top: -8rem;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: all 0.5s ease-in-out;

  @media screen and (max-width: 75em) {
    transition: 0.8s all ease;
  }

  &--active {
    background: transparent;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    z-index: 1;
    width: 100%;
    padding: 0 2.4rem;
  }

  &__logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: rgb(245, 240, 240);
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bolt;
    text-decoration: none;
  }

  &__mobile-icon {
    display: none;

    @media screen and (max-width: 56.25em) {
      display: block;
      height: 8rem;
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      cursor: pointer;
      color: rgb(245, 240, 240);
    }

    &:hover {
      color: #1ea0eb;
      transition: 0.2s ease-in-out;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

    @media screen and (max-width: 56.25em) {
      display: none;
    }
  }

  &__item {
    height: 8rem;
  }

  &__link {
    font-size: 1.8rem;
    color: rgb(245, 240, 240);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;

    &.active {
      border-bottom: 3px solid #1ea0eb;
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      color: #1ea0eb;
    }
  }
}
